---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.bibtex-box {
  display: none;
  background: #f8f8f8;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: monospace;
  font-size: 0.85em;
  white-space: pre;
  overflow-x: auto; /* 👈 enables scroll */
  margin-top: 0.5em;
}


.bibtex-toggle {
  color: #2a7ae2;
  cursor: pointer;
  font-weight: 500;
  padding: 2px 6px;
  border-radius: 4px;
}

.bibtex-toggle:hover {
  background-color: #eaf0fc;
}

.pub-link {
  color: #2a7ae2;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  padding: 2px 6px;
  border-radius: 4px;
}

.pub-link:hover {
  background-color: #eaf0fc;
  text-decoration-color: #8a0303;
}
.pub-link:visited {
  color: #8a0303;
}

